<h2 class="mat-h2">Add New Book</h2>
<form [formGroup]="form" (ngSubmit)="create()" class="book-new__form">
  <mat-form-field data-test="isbn-field">
    <input data-test="isbn-field-input" matInput formControlName="isbn" placeholder="ISBN" required />
    <mat-error *ngIf="form.get('isbn')?.hasError('minlength')">
      ISBN has to be at least 3 characters long.
    </mat-error>
    <mat-error *ngIf="form.get('isbn')?.hasError('required')">
      ISBN is required
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input data-test="title-field-input" matInput formControlName="title" placeholder="Title" required />
    <mat-error *ngIf="form.get('title')?.hasError('required')">
      Title is required
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input  data-test="author-field-input" matInput formControlName="author" placeholder="Author" required />
    <mat-error *ngIf="form.get('author')?.hasError('required')">
      Author is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="cover" placeholder="Cover URL" />
  </mat-form-field>

  <div class="form-actions">
    <button mat-button routerLink="/" type="button">BACK</button>
    <button data-test="new-book-create" mat-raised-button color="primary" [disabled]="!form.valid" type="submit">CREATE</button>
  </div>
</form>
