<h2 class="mat-h2">Books</h2>
<button (click)="updateBooks()">Update</button>
<div class="books-grid">
  <ws-book-card data-test="book-card" [content]="book" *ngFor="let book of books"></ws-book-card>
</div>
